# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Distribution / packaging
.Python
build/
lib/
lib64/
parts/
wheels/
share/python-wheels/
MANIFEST